body {
    background-color:rgb(222, 244, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; 
}

button {
    height: 50px;
    width: 200px; 
    background-image: linear-gradient(rgb(155, 202, 244), darkblue);
    border: 0;
    border-radius: 56px;
    color:rgb(222, 244, 253); 
    cursor: pointer;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

img {
    margin: 20px; 
}


